@model LoginAndAdminPanel.Models.Mudur
@{
    ViewData["Title"] = "Update";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Müdür Güncelle</h1>

<form method="post" action="/Mudur/Update/@Model.Id">
    <div class="form-group">
        <label for="exampleInputEmail1">İsim</label>
        <input type="text" class="form-control" value="@Model.Isim" name="Isim" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Müdür İsmi">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Kurucu</label>
        <input type="text" class="form-control" value="@Model.Kurucu.Isim" id="exampleInputPassword1" disabled placeholder="Kurucu">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Kurucu</label>
        <input type="text" class="form-control" value="@Model.Okul.Isim" id="exampleInputPassword1" disabled placeholder="Kurucu">
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
